<div style="text-align:center">
  <h1>
    Registration to {{ title }}.
  </h1>
  <form (ngSubmit)="onSubmitRegister()">
    <div>
      <div>
        Login:
        <input type="text" [(ngModel)]="registerData.login" name="login" maxlength="8" size="5" />
      </div>
      <div>
        Password:
        <input type="password" [(ngModel)]="registerData.password" name="password" maxlength="15" size="5" />
      </div>
      <div>
        <input type="submit" value="Register" />
      </div>
    </div>
  </form>
</div>
<div *ngIf="!isBackendAvailible">
  <div style="text-align:center">
    <br>
    <br>
    <br>
    <h1> Server is unavailable.
      <br> Please try later.</h1>
  </div>
</div>